<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="PM_IntegratedEntities" connectionString="metadata=res://*/LPSBBCTask.ORM.PM_Model.csdl|res://*/LPSBBCTask.ORM.PM_Model.ssdl|res://*/LPSBBCTask.ORM.PM_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=PM_Integrated;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="GovPmBidOnline_BusinessJSEntities" connectionString="metadata=res://*/JSABOCTask.ORM.mode.csdl|res://*/JSABOCTask.ORM.mode.ssdl|res://*/JSABOCTask.ORM.mode.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.224;Initial Catalog=GovPmBidOnline_BusinessJS;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="jinhuaEntities" connectionString="metadata=res://*/JHBOFTask.ORM.JHBof.csdl|res://*/JHBOFTask.ORM.JHBof.ssdl|res://*/JHBOFTask.ORM.JHBof.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=GovPublic_jinhua;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GovPublic_jinhuaEntities" connectionString="metadata=res://*/HuangMeiPostlTask.ORM.HMModel.csdl|res://*/HuangMeiPostlTask.ORM.HMModel.ssdl|res://*/HuangMeiPostlTask.ORM.HMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=GovPublic_jinhua;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GovPmBidOnline_BusinessEntities" connectionString="metadata=res://*/HuangShiCCBTask.ORM.model.csdl|res://*/HuangShiCCBTask.ORM.model.ssdl|res://*/HuangShiCCBTask.ORM.model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.224;initial catalog=GovPmBidOnline_Business;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Gov_publicHSEntities" connectionString="metadata=res://*/HuangShiCCBTask.ORM.modelzhyw.csdl|res://*/HuangShiCCBTask.ORM.modelzhyw.ssdl|res://*/HuangShiCCBTask.ORM.modelzhyw.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.224;initial catalog=Gov_public;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PM_IntegratedEntities" connectionString="metadata=res://*/LPSBBCTask.ORM.PM_Model.csdl|res://*/LPSBBCTask.ORM.PM_Model.ssdl|res://*/LPSBBCTask.ORM.PM_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=GovPublic_liupanshui;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Netbank_IntegratedEntities" connectionString="metadata=res://*/NetBankTask.ORM.NetBank_Model.csdl|res://*/NetBankTask.ORM.NetBank_Model.ssdl|res://*/NetBankTask.ORM.NetBank_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=GovPublic_liupanshui;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Pub_Entities" connectionString="metadata=res://*/ORM.PubModel.csdl|res://*/ORM.PubModel.ssdl|res://*/ORM.PubModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.114;Initial Catalog=PM_Integrated;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PM_QYKEntities" connectionString="metadata=res://*/ORM.QYK.csdl|res://*/ORM.QYK.ssdl|res://*/ORM.QYK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.114;initial catalog=PM_QYK;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JSGC" connectionString="metadata=res://*/ORM.JSGC.csdl|res://*/ORM.JSGC.ssdl|res://*/ORM.JSGC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.114;initial catalog=PM_PmBidOnline_Business_haiyan;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>