<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <!--海盐中行-->
    <job>
      <name>BOCTaskJob</name>
      <group>JobGroup</group>
      <description>BOCTaskJob</description>
      <job-type>PM.TaskBiz.HYBOCTASK.BOCTaskJob,PM.TaskBiz</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>DemoTest</name>
        <group>JobGroup</group>
        <job-name>BOCTaskJob</job-name>
        <job-group>JobGroup</job-group>
        <cron-expression>0/0 0/0 0/1 * * ?</cron-expression>
      </cron>
    </trigger>


<!--海盐专家回避条件-->
    <job>
      <name>HYAvoidTaskJob</name>
      <group>JobGroup</group>
      <description>HYAvoidTaskJob/description>
      <job-type>PM.TaskBiz.HYSync.Expert.HYAvoidTaskJob,PM.TaskBiz</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>DemoTest</name>
        <group>JobGroup</group>
        <job-name>HYAvoidTaskJob</job-name>
        <job-group>JobGroup</job-group>
        <cron-expression>0/0 0/0 0/1 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>