<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <!--黄梅-->
    <job>
      <name>HuangMeiTaskJob</name>
      <group>JobGroup</group>
      <description>HuangMeiPostlTaskJob</description>
      <job-type>PM.TaskBiz.HuangMeiPostlTask.HuangMeiPostlTaskJob,PM.TaskBiz</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>DemoTest</name>
        <group>JobGroup</group>
        <job-name>HuangMeiTaskJob</job-name>
        <job-group>JobGroup</job-group>
        <cron-expression>0/0 23 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>