<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--银联-->
  <NetBank>
    <!--第三方通知地址-->
    <!--
    <add key="NotificationURL" value="http://www.yewuguanli.com/Pay/BankPay/NetBankReturn.aspx"/>-->
    <!--支付机构编码-->
    <add key="InstitutionID" value="001048"/>
    <!--支付配置文件-->
    <add key="payment.config.path" value="Cert/NetBank/payment.config"/>
  </NetBank>
  <!--支付宝-->
  <ALi>
    <!--合作人ID-->
    <!--
    <add key="ALiPartner" value="2088601287363824"/>
    -->
    <!--账号-->
    <!--
    <add key="ALiAccount" value="82035810@qq.com"/>
    -->
    <!--交易安全检验码-->
    <!--
    <add key="ALiKey" value="ze28ih6f0tqp925n7hs3qjoj8ynym8ok"/>-->
    <!--合作人ID-->
    <add key="ALiPartner" value="2088501918414915"/>
    <!--账号-->
    <add key="ALiAccount" value="pinming@pinming.cn"/>
    <!--交易安全检验码-->
    <add key="ALiKey" value="lzr3ccpmj1503pjt71prqmiapth39ej5"/>
    <!--签名方式-->
    <add key="ALiSignType" value="MD5"/>
    <!--字符编码格式-->
    <add key="ALiInputCharset" value="utf-8"/>
  </ALi>
  <!--黄石-->
  <HS>
    <!--商户的企业网银签约客户号-->
    <add key="CUST_ON" value="MD5"/>
    <!--操作员号-->
    <add key="USER_ID" value="MD5"/>
    <!--操作员密码-->
    <add key="PASSWORD" value="MD5"/>
    <!--交易请求码-->
    <add key="TX_CODE" value="MD5"/>
    <!--商户保证金结算账户号-->
    <add key="ACCOUNT" value="MD5"/>
    <add key="PAGE" value="MD5"/>
  </HS>
  <!--黄梅-->
  <HM>
    <!--商户号-->
    <add key="MercCode" value="9999998885000013300"/>
    <!--查询帐号-->
    <add key="AcctNo" value="100075230360016668"/>
    <!--回调业务地址及编码   特殊-->
    <add key="BusinessUrl" value="http://192.168.0.224:1350/FinaceManager/ReturnPage.aspx"/>
    <add key="enCoding" value="utf-8"/>
    <!--回调成功标记-->
    <add key="chkStr" value="success" />
    <add key="roundCount" value="3" />
    <!--回调结束-->
    <!--字符开始位置（订单号获取）-->
    <add key="OrderIndex" value="0"/>
    <add key="OrderLength" value="12"/>
  </HM>
  <!--金华-->
  <JH>
    <!--账号-->
    <add key="AcctNo" value="337000604018010099557"/>
    <!--字符开始位置（订单号获取）-->
    <add key="OrderIndex" value="6"/>
    <add key="OrderLength" value="15"/>
    <!--邮件-->
    <add key="fromMail" value="jhbof@qq.com"/>
    <add key="fromMailPwd" value="jhbof1234"/>
    <!--多个收件人用,分割-->
    <add key="toMail" value="35999655@qq.com,jhbof@qq.com"/>
    <add key="subject" value="交行通讯接口异常"/>
    <add key="host" value="smtp.qq.com"/>
    <!--html格式-->
    <add key="body" value="交易系统与交通银行之间的专线中断，请及时与以下人员联系；金华交易中心联系人：杨东辉，联系电话：13957998519；品茗软件联系人：童禛荣；联系电话：13913966340"    />
  </JH>
  <!--六盘水-->
  <LPS>
    <!--B2C商户代码-->
    <add key="MERCHANTIDB2C" value="105520286990001"/>
    <!--商户柜台代码-->
    <add key="POSIDB2C" value="418663005"/>
    <!--分行代码-->
    <add key="BRANCHIDB2C" value="520000000"/>
    <!--公匙-->
    <add  key="PUBB2C"    value="30819c300d06092a864886f70d010101050003818a0030818602818062ea1a96a8ea0e0a0bfb326c418a804ed9a4448d0535f4660e3517cf334b422da8ff82aa6ef12c5c4a2f352fadfa604a652782d56360b7748bed3c1353802e4c80bc9d8af8867fd7a24c6623a97571cdd73026aac324b8352bb70277d5d80366a7690996bbfdaa0dde8e4f2bade1d61f6d949d0a56f6d2c34415027b255cd175020111" />
    <!--b2c网关类型 显示标签页-->
    <add key="GateWay" value="W1Z1"/>


    <!--B2B商户代码-->
    <add key="MERCHANTIDB2B" value="105520286990001"/>
    <!--商户柜台代码-->
    <add key="POSIDB2B" value="638687113"/>
    <!--分行代码-->
    <add key="BRANCHIDB2B" value="520000000"/>
    <!--公匙-->
    <add  key="PUBB2B"    value="30819d300d06092a864886f70d010101050003818b003081870281810085b1966a6d6e873389390e8ff0c2f6e64403b2e9f650ec27306c515bc4b96bfe77577ee6fd92626566a8ea8389b095e92f2bf2d0154e47cad558cd52c3901339b24f3179f35184da9bde4ae58741f2a90cb2ff85e5b3df7785e3d4e2936f9f280fd633ad717c72ce7435d78bdc50030ecb6bbd0730f52d643367235f10b5fe05020111" />
    <!--b2b     1-验证支付账户性质是否基本户-->
    <add key="ACCTYPE" value="0"/>
    <!--是否防钓鱼-->
    <add key="FDYType" value="1"/>
    <!--b2b域-->
    <add key="REFERER" value="61.189.242.91:10000" />
    <!--注册信息-->
    <add key="REGINFO" value="六盘水招投标中心"/>
    <!--查询密码-->
    <add key="QueryPWD" value="111111"/>
  </LPS>
  <DDQ>
    <!--通讯编码-->
    <add  key="socketCode"   value="GB2312"  />
    <!--主账号-->
    <add key="Account" value="565101040014048"/>
    <!--回调业务地址及编码   特殊-->
    <add key="BusinessUrl" value="http://192.168.8.10:8001/FinaceManager/ReturnPage.aspx"/>
    <add key="enCoding" value="utf-8"/>
    <!--回调成功标记-->
    <add key="chkStr" value="success" />
    <add key="roundCount" value="3" />
    <!--字符开始位置（订单号获取）-->
    <add key="OrderIndex" value="0"/>
    <add key="OrderLength" value="12"/>
  </DDQ>
  <QY>
    <!--青阳县招标采购管理局主账号-->
    <add key="Account" value="34001767308053001098"/>
    <!--回调成功标记-->
    <add key="BusinessUrl" value="http://zhyw.qyzb.gov.cn/FinaceManager/ReturnPage.aspx"/>
    <add key="enCoding" value="utf-8"/>
    <add key="chkStr" value="success" />
    <add key="roundCount" value="2" />
  </QY>
  <!--海盐中国银行-->
  <HYBOC>
    <!--省联行号-->
    <add key="IbkNum"  value="45129"  />
    <!--企业前置机-->
    <add  key="Termid"  value="E168018010020"  />
    <!--操作员标识-->
    <add  key="CusOpr"  value="25889680"  />
    <!--集团号-->
    <add  key="CustId"  value="25377755"  />
    <!--登录密码-->
    <add  key="OprPwd"  value="R4bRnLRL"  />
    <!--主账号（通过主账号获取明细）-->
    <add  key="ACCNO"  value="377958654978"  />
    <!--回调业务地址及编码   特殊-->
    <add key="BusinessUrl" value="http://192.168.8.10:8001/FinaceManager/ReturnPage.aspx"/>
    <add key="enCoding" value="utf-8"/>
    <!--回调成功标记-->
    <add key="chkStr" value="success" />
    <add key="roundCount" value="2" />
  </HYBOC>
  <!--海盐专家-->
  <HY>
    <!--密码-->
    <add key="Pwd"  value="lAAHebRE7uby3TlAa1YX"  />
    <!--地址-->
    <add  key="Url"  value="http://218.108.28.44:80/zjkservice/service.asmx"  />
    <add key="DeptID"  value="90"  />
  </HY>
</configuration>